* {
  background-color: black;
}

h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.image {
    margin: 5% 25% 0% 25%;
}

.border {
    border: 5px solid white;
    width: 100%;
}

.info {
    margin: 0% 25%;
}

#header {
    color: white;
    text-align: center;
    font-size: 3rem;
}

#para {
    color: white;
    text-align: center;
    font-size: 140%;
}