/* Universal */
body {
  background-color: #f7f9fc;
}

.container {
  margin: 15px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  height: auto;
}

div {
  display: block;
  unicode-bidi: isolate;
}

.bd-edit {
  --bd-padding: 1rem;
  --bs-border-color: rgb(110, 105, 105);
  position: relative;
  padding: var(--bd-padding) 0;
  border: solid var(--bs-border-color);
  border-width: 1px 0;
}

/* Header */
.headerItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.navbar-collapse.collapse {
  width: 100%;
  flex-grow: 1;
  justify-content: flex-end;
  transition: none;
}

/* Center the collapse button within its container */
.navbar-toggler-mod {
  margin-top: 15px;
}

#navbarName {
  font-family: "Times New Roman", Times, serif;
  font-size: 3rem;
  color: #3795BD;
  white-space: nowrap;
}

#navItems {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  flex-wrap: wrap;
  width: 70px;
}

.navbarScrollButton {
  position: relative;
}

.navbar-nav-scroll-mod {
  position: relative;
  width: 25px;
  max-width: max-content;
  margin-bottom: 10px;
}

.navButtons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.navbarScrollButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navButton {
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  padding: 7.5px 15px;
  min-width: 100px;
  text-align: center;
  flex: 0 1 auto;
}

.nav-link-mod {
  color: #8C3061;
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 0.375rem;
  background: 0 0;
  border: 0.5px solid #8C3061;
}

.nav-link-mod:hover {
  background-color: #8C3061;
  color: white;
}

.container-fluid-mod {
  padding-right: 0;
  padding-left: 0;
}

.nav-pills-mod {
  display: flex;
  align-items: center;
}

/* / Page */
.homePage {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.bgImgDiv {
  position: relative;
}

.bgImage {
  position: relative;
  height: 500px;
  width: 800px;
  border-radius: 8px;
  border: 5px solid #508C9B;
}

.bgTextDiv {
  position: relative;
  height: 500px;
  margin-right: 5px;
}

#welcomeText {
  position: relative;
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  color: #134B70;
  margin: 0;
  height: auto;
}

#infoText {
  position: relative;
  font-family: "Source Serif 4", serif;
  font-style: normal;
  font-size: 25px;
  color: #134B70;
  margin: 40px auto;
  height: auto;
}

.buttonClass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
}

#blogButtonText {
  position: relative;
  position: relative;
  font-family: "Helvetica", "Arial", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 25px;
  color: #5B99C2;
}

#blogButton {
  font-family: "Helvetica", "Arial", sans-serif;
}

.home-blogs {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 0.375rem;
  background: 0 0;
  border: 0.5px solid #125B9A;
}

.home-blogs:hover {
  -webkit-text-fill-color: #fff;;
  background-color: #0B8494;
}

.home-blogs-header{
  border-radius: 0.375rem;
  border: 0.5px solid #3795BD;
}

.home-blogs-header-text{
  font-family: "Manrope", sans-serif;
  font-style: normal;
  color: #134B70;
  height: 60px;
  font-size: 3rem;
  margin-top: 10px;
}

.navhomeButton {
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  padding: 7px 15px;
  min-width: 100px;
  text-align: center;
  flex: 0 1 auto;
}

.navhomeButton-mod {
  color: #E85C0D;
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 0.375rem;
  background: 0 0;
  border: 0.5px solid #E85C0D;
}

.navhomeButton-mod:hover {
  background-color: #E85C0D;
  color: white;
}

.navhomeButton-logout {
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  min-width: 100px;
  text-align: center;
  flex: 0 1 auto;
}

.navhomeButton-logout-mod {
  color: #000;
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 0.375rem;
  background: 0 0;
  border: 0.5px solid #000;
}

.navhomeButton-logout-mod:hover {
  background-color: #000;
  color: white;
}

/* Create Page */
#saveButton {
  font-family: "Helvetica", "Arial", sans-serif;
}

#createDiv {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

#nameInputBox,
#tittleInputBox {
  width: 100%;
}

#editor {
  height: 400px;
}

.ql-toolbar.ql-snow {
  border: 0.5px solid #dee2e6 !important;
  border-radius: 0.375rem !important;
  margin: 0 !important;
}

.ql-editor {
  border: 0.5px solid #dee2e6 !important;
  border-radius: 0.375rem !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
}

.ql-editor.ql-blank {
  border: 0.5px solid #dee2e6 !important;
  border-radius: 0.375rem !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
}

.ql-editor.ql-blank::before {
  font-style: normal !important;
  font-size: 1rem !important;
  color: #45494d !important;
}

.ql-container {
  border: 0 !important;
  border-radius: 0 !important;
}

.ql-container.ql-snow {
  position: relative !important;
  margin: 0 !important;
}

.ql-code-block {
  white-space: pre-wrap !important;
}

.ql-token {
  white-space: pre-wrap !important;
  white-space: pre !important;
}

.ql-editor {
  white-space: pre-wrap !important;
}

/* Blog Page */
#noBlogs {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 100%;
  margin-top: 10px;
}

#blogBodyTittle {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  color: auto;
}

#blogBodyDate {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  margin: 8px 0;
  color: auto;
}

.blogButtons {
  --bs-btn-color: #000;
  /*--bs-btn-border-color: #000;*/
  --bs-btn-hover-color: white;
}

.buttonsMargin {
  margin-bottom: 10px;
}

#noBlogs {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  margin: 15px 0;
}

.container-mod {
  background-color: #f7f9fc;
  box-shadow: 0 0 0 #f7f9fc;
  text-align: center;
}

/* View Page */
p {
  margin-top: 0;
  margin-bottom: 0;
}

#viewBlogTittle {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 600;
  margin: 0 !important;
}

#viewBlogDateName {
  font-size: 15px;
}

.viewBlogBody {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* About Page */
.aboutTittle-div {
  position: relative;
  text-align: center;
}

#aboutTittle {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

.aboutBody-div {
  position: relative;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 17px;
  word-wrap: break-word;
  /* long words break into the next line */
  word-break: break-word;
  font-style: normal;
  margin: 0 auto;
  /* container doesn’t overflow the screen */
  width: 750px;
  max-width: 100%;
  line-height: 1.5;
}

.aboutBody-div,
p,
.aboutBody-div,
ul,
li {
  word-wrap: break-word;
  word-break: break-word;
  /* text wraps normally */
  white-space: normal;
  text-align: justify;
}

/* footer */
.bi {
  width: 25px;
  height: 25px;
}

#footer {
  margin: 0;
  padding: 0;
  flex-direction: row;
}

#footerTextHolder {
  display: flex;
  align-items: center;
}

.footerText {
  position: relative;
  color: #000;
  font-family: "Times New Roman", Times, serif;
}


/* Media Query Breakpoint */
@media (min-width: 993px) and (max-width: 1200px) {
  .homePage {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .headerItem {
    display: flex;
    justify-content: center;
  }

  .bgImage {
    position: relative;
    height: auto;
    width: 850px;
    border: 5px solid #508C9B;
  }

  .bgImgDiv {
    position: relative;
    width: auto;
    margin: auto;
  }

  #infoText {
    margin-top: 30px;
  }

  .bgTextDiv {
    position: relative;
    height: auto;
    width: auto;
    margin: 30px auto;
  }
}

/* Media Query Breakpoint */
@media (min-width: 768px) and (max-width: 992px) {
  .headerItem {
    display: flex;
    justify-content: center;
  }

  .homePage {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .bgImage {
    position: relative;
    height: 400px;
    width: auto;
    border: 5px solid #508C9B;
  }

  .bgTextDiv {
    position: relative;
    height: auto;
    width: auto;
    margin: auto;
  }

  #welcomeText {
    font-size: 2.8rem;
  }

  #infoText {
    font-size: 2.3rem;
  }

  .buttonClass {
    margin-top: 25px;
    margin-bottom: 15px;
  }
}

/* Media Query Breakpoint */
@media (min-width: 465px) and (max-width: 767px) {
  .headerItem {
    display: flex;
    justify-content: center;
  }

  .homePage {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .bgImage {
    position: relative;
    height: 300px;
    width: auto;
    border: 5px solid #508C9B;
  }

  .bgTextDiv {
    position: relative;
    height: auto;
    width: auto;
    margin: auto;
  }

  #welcomeText {
    font-size: 2.2rem;
  }

  #infoText {
    font-size: 1.8rem;
  }

  .buttonClass {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}

/* Media Query Breakpoint */
@media (max-width: 464px) {
  .headerItem {
    display: flex;
    justify-content: center;
  }

  .homePage {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .bgImage {
    position: relative;
    height: 250px;
    width: auto;
    border: 5px solid #508C9B;
  }

  .bgTextDiv {
    position: relative;
    height: auto;
    width: auto;
    margin: auto;
  }

  #blogButtonText {
    font-size: 20px;
  }

  #welcomeText {
    font-size: 2rem;
  }

  #infoText {
    font-size: 1.5rem;
  }

  .buttonClass {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  #footer {
    flex-direction: column;
  }

  #iconHolder {
    margin-top: 10px;
  }
}

/* Media Query Breakpoint for nav scrooling*/
@media (max-width: 992px) {
  .headerItems {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
    width: 100%;
  }

  .headerItem {
    width: 100%;
  }

  .navbar-toggler-mod {
    align-self: flex-start;
    margin-left: 0;
  }

  .navbar-collapse.collapse {
    width: 100%;
    flex-grow: 1;
    justify-content: flex-start;
    transition: none;
  }

  .navButtons {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  .navbarScrollButton {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  .navButton {
    padding: 5.5px 0;
    width: 70px;
  }

  #navbarName {
    font-size: 3rem;
    text-align: left;
    width: 100%;
  }

}