<%- include('partials/header.ejs') %>
<blog>
  <div class="container py-4">
    <div class="d-flex justify-content-center align-items-center flex-column my-3">
      <div class="aboutTittle-div my-2">
        <h1 id="aboutTittle">FullStack Blogging Project</h1>
      </div>
      <div class="justify-content-center align-items-center flex-column my-2 aboutBody-div" >
        <p style="margin-bottom: 2px;">
          A <b>simple</b>,<b>unique</b> and <b>stylish</b> Blog web application developed with the use of <b>Front End</b> and <b>BackEnd</b>.
          <br>
          <br>
          <b>Technologies</b> that are used in this project so far: 
        <ul>
          <li>
            HTML, <b>EJS (Embedded Java Script), JQuery</b>
          </li>
          <li>
            CSS, <b>Bootstrap V5.3</b>
          </li>
          <li>
            Javascript, <b>Express.js</b>
          </li>
          <li>
            <b>Nodejs</b>, npm
          </li>
          <li>
            <b>Rest APIs</b>
          </li>
          <li>
            <b>Postgres RDBMS</b>
          </li>
          <li>
            <b>Login/LogOut & Register</b>
          </li>
          <li>
            <b>Session and Cookie using Passport & Strategy</b>
          </li>
        </ul>
        The application will allow registered users to <b>create, view, edit and delete</b> blog posts. Posts will persist between sessions as Postgres is used as database in this version of the application. Non-Registered users will be able to see blogs.
        </p>
      </div>
    </div>
  </div>
</blog>
<%- include('partials/footer.ejs') %>
