<%- include('partials/header.ejs') %>
<create>
  <div class="container py-4">
    <div class="input-group" id="createDiv">
      <div id="titleInputArea">
        <input type="text" class="form-control" id="titleInputBox" <%# name="title" %> placeholder="Blog title" required>
      </div>
      <div id="editor">
      </div>
      <div id="nameInputArea">
        <input type="text" class="form-control" id="nameInputBox" value="<%= locals.name %>" placeholder="Your name" required>
      </div>
      <div id="emailArea">
        <input type="email" class="form-control" id="emailInputBox" value="<%= locals.email %>" placeholder="Your Email" disabled readonly>
      </div>
      <div id="inputButton">
        <a href="/save">
          <button type="button" class="btn btn-success btn-md px-4 gap-3" id="saveButton">
            Save
          </button>
        </a>
      </div>
    </div>
  </div>
</create>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- Main Quill library -->
<%- include('partials/quill.ejs') %>
<script src="scripts/util.js" charset="utf-8"></script>
</body>

</html>