<%- include('partials/header.ejs') %>
<div class="container" style="height: 330px;">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="col-md-7 col-lg-5 col-xl-5">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div style="margin-top: 50px;">
          <h1>
            <%= locals.message %>
          </h1>
        </div>
        <div style="margin-top: 50px;">
          <a href="/home">Go to profile</a>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer.ejs') %>